#not-found {
  width: 700px;
  margin: 0 auto;
  .not-found-image {
    width: 25%;
    float: left;
  }
  .not-found-title {
    width: 70%;
    float: right;
    background: url(/img/bg-footer.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 400px;
    h1 {
      font-size: 30px;
      color: #1f2128;
      margin-bottom: 20px;
      margin-top: 155px;
    }
    a.gotohomepage {
      background-color: #de4f4f;
      color: rgba(255, 255, 255, 0);
      width: 180px;
      line-height: 40px;
      display: block;
      text-align: center;
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
      height: 40px;
    }
  }
}

.w3-top {
  left: 37px;
  color: white;
}

#mainPic {
  height: 800px;
  background-image: url("/img/army-mil-56825-2009-11-20-111122.jpg");
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

#secPic {
  height: 800px;
  background-image: url("/img/140610-z-pa893-125_720.jpg");
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

#logo {
  height: 150px;
  background-image: url("/img/USArmy.png");
  background-size: cover;
}

#title {
  color: white;
  padding-top: 50px;
  padding-left:50px;
  font-size: 60px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#description {
  color: white;
  padding-top: 20px;
  padding-left:50px;
  font-size: 30px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.padding {
  padding: 30px;
}

.grayBackground {
  background: #eeeeee;
  z-index: -1;
}

#search {
  padding-top: 60px;
  z-index: 10;
}

#autoSuggestions {
  background: white;
  position: absolute;
  top: 60px;
  left: 20px;
  border-radius: 3px;
  border: #cccccc 1px solid;
}

.suggestion {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.suggestion:hover {
  background-color: #eeeeee;
}

input[type=text] {
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #dddddd;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-repeat: no-repeat;
  background-attachment: fixed;

  margin-left:20px;
}

input[type=text]:focus {
  width: 100%;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

/* First image (Logo. Full height) */
.bgimg-1 {

  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("140610-z-pa893-125_720.jpg");
  min-height: 400px;
  z-index: 5;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/w3images/parallax3.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}



/****************d3**************/
#dashboard {

  background: #eeeeee;

}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}



.dashboardBox {

  text-align: center;
  border-radius: 5px;
  width: auto;
  margin-top: 30px;
  margin-left: 30px;
  background: white;
  padding: 20px;
}

#diseaseTable td strong{
  padding-left: 25px
}

.toolTip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
}

.axisHorizontal path{
  fill: none;
}

.axisHorizontal .tick line {
  stroke-width: 1;
  stroke: rgba(0, 0, 0, 0.2);
}

.score {
  font-size: 50px;
}
